.headerSection {
  background: url("/images/aibg.png");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.headertag1 {
  bottom: 73px;
  left: 76px;
}
.headertag2 {
  bottom: 153px;
  left: 153px;
}
.headertag3 {
  bottom: 292px;
  left: 277px;
}
.headertag4 {
  bottom: 203px;
  right: 110px;
}
.headertag5 {
  bottom: 95px;
  right: 3px;
}
.headertag6 {
  bottom: 275px;
  left: -120px;
}
