@import "./tailwind/base.scss";
@import "./tailwind/tailwind.scss";
@import "./idleWild.scss";
.headerStyle {
  .headerSection {
    background: linear-gradient(305.47deg, #e14551 46.87%, #ff75b7 129.51%);
    min-height: 100vh;
  }
  .comingSoon {
    font-weight: 500;
    font-size: 8.26885px;
    line-height: 10px;
    color: #54ffe0;
    text-transform: uppercase;
    border: 1px solid #54ffe0;
    border-radius: 5.51256px;
    display: inline-block;
    padding: 4px 5px;
    margin-bottom: 6px;
  }
  .sampleImg {
    top: 58px;
    left: 200px;
  }
  .sampleImg2 {
    top: 224px;
    left: 422px;
  }
  .sampleImg3 {
    bottom: 47px;
    left: -40px;
  }
  .headertag1 {
    top: 166px;
    left: 200px;
  }
  .headertag2 {
    bottom: 248px;
    left: 186px;
  }
}
