@font-face {
  font-family: "idleWild";
  src: url("https://res.cloudinary.com/horpey/raw/upload/v1636067938/Idlewild-Bold_ao7uhq.otf")
    format("truetype");
}
.font-idlewild {
  font-family: "idleWild";
}
